<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Prasad/IdeaProjects/MavenwithTestNG">
        <classes>
            <class name="Test1"/>
            <class name="Test2"/>
        </classes>
    </test>
</suite>